@import url(https://fonts.googleapis.com/css?family=Exo:400,500,500italic,400italic,600,600italic,700,700italic,800,800italic,300,300italic);
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
body {
  padding-top: 100px;
  font-family: 'Ubuntu Condensed', sans;

 }


.login-title{
	font-family: 'Exo', sans-serif;
	text-align:center;
	color: white;
}
.login-userinput{
	margin-bottom: 10px;
}
.login-button{
	margin-top:10px;
}
.login-options{
	margin-bottom:0px;
}
.login-forgot{
	float: right;
}

a {
	color: tomato;
}

a:hover {
	color: tomato;
}